@import "./../../scss/variables";

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background: #c4167e;
  background: -webkit-linear-gradient(to right, #c4167e, #493240);
  background: linear-gradient(to right, #c4167e, #493240);

  font-size: 1.2em;

  &--loaded {
    .loader__button {
      display: inline;
    }
  }
}

.loader__wrapper {
  min-width: 300px;
  margin: 0 20px;

}

.loader__heading-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.loader__greeting {
  margin-bottom: 20px;
}

.loader__button {
  display: none;
  margin-left: 100px;
  padding: 10px;
}

.loader__list {
  text-align: left;
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

.loader__list-item {
  margin: 10px 0;
}