@import "./../../scss/variables";

.view {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  height: 100vh;
  background-color: $primary-theme-color;

  main {
    display: contents;
  }
}

.content-wrapper--main {
  display: grid;
  grid-template-columns: minmax(275px, 20%) 1fr minmax(300px, 25%);
  grid-template-rows: 1fr 2fr;
  gap: 1rem;
  padding: 0 1rem;
}

.svg-container svg {
  width: 100%;
}