@import "./../../scss/variables";

.view {
  height: 100%;
  background-color: $primary-theme-color;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  &--main {
    display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "search map table"
      "search map graph";
    gap: 1rem;
    margin: 1rem auto;
    padding: 0 1rem;
  }
}

.toggles-container {
  display: flex;
}