@import "./../../scss/variables";

.graph__title {
  margin: 0;
  padding: 0 1rem 1rem;
}

.graph__container {
  position: relative;
  flex: 1;
  width: 98%;
  height: 100px;
}

.graph__tabs {
  width: 100%;
}

.graph__toggles-wrapper {
  width: 100%;
  padding: 0 1rem 0.5rem;
  margin-top: auto;
}

@media (max-width: $width-mobile) {
  .graph__container {
    position: relative;
    width: 80vw;
    flex: auto;
  }
}