@import "./../../scss/variables";

.graph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

rect {
  fill: $s-dark-theme-color;
}

.tick line {
  stroke: $secondary-text-color;
  opacity: 0.5;
}

.tabs-container {
  margin-top: auto;
}

.graph__container {
  position: relative;
  width: 100%;
  flex: 1;
}