@import "./../../scss/variables";

.graph {
  grid-area: graph;
  //height: 100%;
  //width: 25%;
  //outline: 2px solid blue;
}

rect {
  fill: $s-dark-theme-color;
}

.tick line {
  stroke: $secondary-text-color;
  opacity: 0.5;
}
