@import "./../../scss/variables";

.graph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

rect {
  fill: $s-dark-theme-color;
}

.tick line {
  stroke: $secondary-text-color;
  opacity: 0.5;
}

.tabs-container {
  margin-top: auto;
}

.graph__container {
  position: relative;
  width: 100%;
  flex: 1;
}

@media (max-width: 1023px) {
  .graph {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

@media (max-width: 600px) {
  .graph {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .graph__container {
    position: relative;
    width: 80vw;
    flex: auto;
  }
}