@import "./../../scss/variables";

.graph {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  // grid-area: graph;
  //height: 100%;
  //width: 25%;
  //outline: 2px solid blue;
}

rect {
  fill: $s-dark-theme-color;
}

.tick line {
  stroke: $secondary-text-color;
  opacity: 0.5;
}

.tabs-container {
  margin-top: auto;
}