.map-legend {
  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  width: 200px;
  padding: 0 10px;
  background-color: darkslategrey;
}

.map-legend__row {
  width: 100%;
  display: flex;
  align-items: center;
}

.map-legend__title {
  padding: 5px;
}

.map-legend__circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.map-legend__circle {
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
}