@import "./../../../scss/variables";

.fullscreen {
  position: relative;
  padding: 0.8rem 0.8rem 0 0.8rem;
  border-radius: 13px 13px 0 0;
  background: $primary-theme-color;
  box-shadow: 7px 7px 11px #3f0b31,
    -7px -7px 11px #7b155f;

  box-sizing: border-box;
}

.fullscreen-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid $secondary-text-color;
  border-radius: 50%;
  background-color: #3f0b31;
  color: $secondary-text-color;
  outline: none;

  &::before {
    content: "\2922";
    position: absolute;
    font-size: 1.1rem;
    font-weight: lighter;
    top: -4px;
    left: 2px;
  }

  &:hover,
  &:focus {
    border-color: white;
  }

  &:hover::before,
  &:focus::before {
    color: white;
  }
}

.fullscreen--active {
  position: fixed;
  top: 0;
  left: 0;

  height: calc(100vh - 20px);
  width: calc(100% - 20px);
  margin: 10px;
  box-sizing: border-box;

  z-index: 10;
}