@import "./../../../scss/variables";

.fullscreen {
  @include blocks;
}

.fullscreen-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid $secondary-text-color;
  border-radius: 50%;
  background-color: transparent;
  color: $secondary-text-color;

  &::before {
    content: "\2922";
    position: absolute;
    font-size: 1.1rem;
    font-weight: lighter;
    top: -4px;
    left: 2px;
  }
}

.fullscreen--active {
  position: fixed;
  top: 0;
  left: 0;

  height: calc(100vh - 20px);
  width: calc(100% - 20px);
  margin: 10px;
  box-sizing: border-box;

  z-index: 10;
}