@import "./../../../scss/variables";

.content-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0 0;
  box-sizing: border-box;

  border-radius: 13px 13px 0 0;
  background-color: $color-theme-primary;
  box-shadow:
    7px 7px 11px $color-shadow-1,
    -7px -7px 11px $color-shadow-2;

  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 3;

    box-shadow:
      3px 3px 5px $color-shadow-1,
      -3px -3px 5px $color-shadow-2;

    margin: 10px;
    height: calc(100vh - 20px);
    width: calc(100% - 20px);

    .content-container__fullscreen-button::before {
      content: "✖";

      top: 0;
      left: 3px;

      font-size: 0.9em;
    }
  }
}

.content-container__fullscreen-button {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;

  height: 1.2rem;
  width: 1.2rem;

  border: 1px solid $color-text-secondary;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  color: $color-text-secondary;
  background-color: $color-theme-primary-darker;

  &::before {
    content: "\2922";

    position: absolute;
    top: -2px;
    left: 2px;

    font-size: 1.1rem;
    font-weight: lighter;
  }

  &:hover,
  &:focus {
    border-color: $color-text-primary;
  }

  &:hover::before,
  &:focus::before {
    color: $color-text-primary
  }
}