@import "./../../../scss/variables";

.toggles {
  &__btn {
    width: 50%;
    border: 1px solid $primary-theme-color;
    background-color: $s-light-theme-color;
    color: $secondary-text-color;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &--active {
      border-color: $s-dark-theme-color;
      background-color: $s-dark-theme-color;
      color: $primary-text-color;
    }
  }
}

.toggles-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px 0;
}

.toggles {
  width: 49%;
}