@import "./../../../scss/variables";

.toggles {
  margin: 5px;

  &--period {
    width: 6.1rem;
  }

  &--amount {
    width: 6.8rem;
  }

  &__btn {
    width: 50%;
    border: 1px solid $s-dark-theme-color;
    background-color: $s-light-theme-color;
    color: $secondary-text-color;

    &--active {
      background-color: $s-dark-theme-color;
      color: $primary-text-color;
    }

    &--left {
      border-radius: 4px 0 0 4px;
    }

    &--right {
      border-radius: 0 4px 4px 0;
    }
  }
}
