@import "./../../scss/variables";

.header {
  width: 100%;
  background-color: $p-dark-theme-color;

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }
}

.header__info {
  text-align: right;
}

.header__button {
  border: none;
  background-color: white;
  color: rgb(82, 16, 82);
  padding: 10px;
  margin: 0 10px;
  border-radius: 100px;

  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 1023px) {
  .header__title {
    font-size: 1.2em
  }

  .header__button {
    padding: 3px;
    border-radius: 30px;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 14px
  }
}