@import "./../../scss/variables";

.header {
  background-color: $color-theme-primary-dark;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header__title {
  margin: 0;
}

.header__info {
  margin: 0;
  text-align: left;
  color: $color-text-secondary;
}

.header__button {
  padding: 5px;
}

@media (max-width: $width-tablet) {
  .header__title {
    font-size: 1.2em
  }
}

@media (max-width: $width-mobile) {
  .header {
    font-size: 14px
  }
}