@import "./../../scss/variables";

.footer {
  background-color: $color-theme-primary-dark;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.footer__link {
  color: $color-text-secondary;
  text-decoration: none;

  &:hover {
    color: $color-text-primary;
    text-decoration: underline;
  }

  &--logo {
    padding: 3px;
    border-radius: 5px;
    background-color: $color-text-primary;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }
}

.footer__image {
  height: 2rem;
  width: auto;
}