@import "./../../scss/variables";

.search {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  // grid-area: search;
  // height: 100%;
  //width: 25%;
  // padding: 0.8rem 0.8rem 0 0.8rem;
  //outline: 2px solid seagreen;
  // border-radius: 13px 13px 0 0;
  // background: $primary-theme-color;
  // box-shadow: 7px 7px 11px #3f0b31,
  // -7px -7px 11px #7b155f;
}

.search__title {
  margin-bottom: 10px;
}

.search__list {
  list-style: none;
  overflow-y: scroll;
  flex: 1 0 1px;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(187, 93, 93);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: brown;
    border-radius: 100px;
  }
}

.simple-keyboard {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 30;
  color: black;

  &--active {
    display: block;
  }
}