@import "./../../scss/variables";

.search__title {
  margin: 0;
  padding: 0 1rem 1rem;
}

.search__input {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search__list-wrapper {
  flex: 1 0 1px;
  height: 1px;
  width: 100%;
  padding: 0.5rem 1rem;

  box-sizing: border-box;
}

.search__list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;

  list-style: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
    padding: 1rem 1rem 0 1rem;
    background-color: $color-theme-secondary-lighter;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-theme-secondary-light;
    border-radius: 100px;
  }
}

.search__toggles-wrapper {
  width: 100%;
  padding: 0 1rem 0.5rem;
}

.search__tabs {
  width: 100%;
}