@import "./../../scss/variables";

.table__title {
  margin: 0;
  padding: 0 1rem 1rem;
}

.table__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0 1rem;
  margin: 0;
  width: 100%;

  box-sizing: border-box;
}

.table__row {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;

  font-size: 1.3em;

  &:not(:last-child) {
    border-bottom: 2px solid $color-theme-primary-light;
  }
}

.table__toggles-wrapper {
  width: 100%;
  padding: 0.5rem 1rem;
}