@import "./../../scss/variables";

.table {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  grid-row: 1 / 2;
  grid-column: 3 / 4;

  .toggles-container {
    margin-top: auto;
  }
}

.table__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

@media (max-width: 1023px) {
  .table {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    .toggles-container {
      flex-wrap: wrap;


      .toggles {
        min-width: 120px;
        flex: 1;
        margin: 0 3px;
      }
    }
  }
}

@media (max-width: 600px) {
  .table {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}