.search-item {
  display: flex;
  justify-self: start;
  padding: 10px;
  margin: 0 10px 0 0;


  &:hover,
  &:focus {
    background-color: rgb(110, 8, 88);
    cursor: pointer;
  }

  &--active {
    background-color: rgb(168, 17, 135);
  }
}

.search-item__flag {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.search-item__title {
  width: 100%;
  margin-right: 5px;
}