html {
  background-color: #ffffff;
}

body {
  width: 100%;
}

html,
body,
section,
nav,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
button,
textarea,
p,
blockquote,
th,
td,
img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

img {
  display: block;
  height: 100%;
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

svg,
svg * {
  line-height: 0;
}

button {
  font-size: 15px;
}