@import "./variables.scss";

html {
  margin: 0;

  color: $color-text-primary;
  background-color: $color-theme-primary;
  font-family: "RobotoCondensed", Arial, sans-serif;
  font-size: 16px;
}

.button {
  color: $color-text-primary;
  background-color: $color-theme-primary-light;

  border: none;
  border-radius: 3px;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-theme-primary;
  }
}

.leaflet-control-attribution {
  max-width: 70%;
}

.leaflet-control-zoom {
  border: none !important;
  border-radius: 1100px !important;
  background-color: transparent;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  border-radius: 100% !important;
}

.simple-keyboard {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 30;
  color: black;

  &--active {
    display: block;
  }
}