/*
  colors
*/
$color-text-primary: #ffffff;
$color-text-secondary: #adadad;

$color-theme-primary: #5d1048;
$color-theme-primary-dark: #310021;
$color-theme-primary-darker: #180210;
$color-theme-primary-light: #8d3f74;
$color-theme-primary-light-transparent: rgba($color-theme-primary-light, 0.3);

$color-shadow-1: #3f0b31;
$color-shadow-2: #7b155f;

$color-theme-secondary: #d90110;
$color-theme-secondary-dark: #9f0000;
$color-theme-secondary-light: #ff523c;
$color-theme-secondary-lighter: #ff9f92;

$color-theme-tertiary: #2e2e2e;
/*
  breakpoints
*/
$width-tablet: 1024px - 1px;
$width-mobile: 650px - 1px;